* {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  height: 100vh;
}

.column {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 250px;
  max-width: 1300px;
}

.form {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 1.5rem;
  width: 100%;
  margin-bottom: 10px;
}

.update {
  margin: 0px;
}

.formInput {
  flex-grow: 1;
  outline: none;
  border: none;
}

.btn {
  background-color: aquamarine;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 80px;
  outline: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(150, 50, 50, .2);
  height: 1.5rem;
}

.complete {
  background-color: rgba(74, 223, 55, 0.363);
  text-decoration: line-through;
}

.todo:not(:last-child) {
  margin-bottom: 10px;
}

.todoGrow {
  flex-grow: 1;
  height: 100%;
}

.svgs {
  width: 30px;
  height: 1.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.svg {
  cursor: pointer;
}